<a class="header__logo" routerLink="/">
    <svg-icon src="assets/images/travel-car.svg"></svg-icon>
</a>
<div class="header__content">
    <ng-container *ngIf="isAuthorized$ | async; else notAuthorized">
        <span>{{ 'Header.YouEnteredAs' | translate }} <a routerLink="/user">{{(user$ | async).email}}</a></span>
        <a class="header__logout" (click)="logout()" href="#" class="header__logout">{{ 'Header.Logout' | translate }}</a>
    </ng-container>
    <ng-template #notAuthorized>
        <a routerLink="/login" class="header__login">
            <svg-icon src="assets/icons/login/login-icon.svg" class="header__login-icon"></svg-icon>
             {{ 'Header.Login' | translate }}
        </a>
    </ng-template>
</div>
