:host {
    display: flex;
    height: 106px;
    align-items: center;
    padding: 0 calc(50% - 585px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
}

.header__chat {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    &:hover {
        color: #D8192D;

        ::ng-deep {
            svg-icon {
                svg {
                    fill: rgba(#D8192D, .5);
                }
            }
        }
    }
}

.header__chat-text {
    margin-top: 7px;
    font-weight: 600;
    font-size: 14px;
}

.header__logo {
    width: 194px;
    height: 84px;
    margin-right: auto;
    ::ng-deep svg-icon{
        path.logo-box {
            transition: all .3s ease-in-out;
        }
        &:hover {
            path.logo-box {
                fill: darken(#E9E9E9, 5%);
            }
        }
    }
}

.header__content {
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 27px;
    margin-left: 68px;
    margin-right: 25px;
    background: #F2F2F2;
    position: relative;
    justify-content: flex-end;

    * {
        position: relative;
        z-index: 1;
    }
    &::before {
        content: '';
        display: block;
        position: absolute;
        left: -80px;
        top: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 80px 106px 80px;
        border-color: transparent transparent #f2f2f2 transparent;
    }
    &::after {
        content: '';
        display: block;
        position: absolute;
        left: 100%;
        top: 0;
        width: 100vw;
        height: 106px;
        background: #f2f2f2;
    }
    .header__login {
        align-self: flex-start;
    }
}

.header__column {
    display: flex;
    justify-content: flex-end;
    width: 33.3%;
    max-height: 62px;

    &+& {
        margin-left: 32px;
    }
}

.header__column-content {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-start;
}

.header__column-icon {
    flex-shrink: 0;
    position: relative;
    top: 2px;
    margin-right: 11px;
}

.header__logout {
    margin-left: 11px;
}

.header__column-dropdown {
    top: 23px;
    position: absolute;
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 12px;
    width: 234px;
    z-index: 10;

    li {
        list-style: none;
        cursor: pointer;
        font-size: 14px;
        line-height: 21px;
        white-space: nowrap;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;

        &:hover {
            color: #D8192D;
        }
    }
}

.header__column-title {
    font-size: 16px;
    line-height: 150%;
    font-weight: 600;
    &--dropdown {
        position: relative;
        padding-right: 28px;

        &:after {
            position: absolute;
            right: 0;
            top: 7px;
            display: inline-block;
            content: '';
            width: 16px;
            height: 7px;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml,%3Csvg width='16' height='7' viewBox='0 0 16 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 1.3298L14.1591 0 8.032 4.3675 1.7945.056 0 1.3438l7.9968 5.6554L16 1.3298z' fill='%232B2A29'/%3E%3C/svg%3E");
        }
    }
}

.header__column-subtitle {
    font-size: 14px;
    line-height: 150%;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    font-family: inherit;
    color: #706F6E;
    width: 100%;
    &--number {
        text-align: right;
    }
}

.header__login {
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none !important;
    margin-left: 32px;

    &:hover {
        color: #D8192D;

        ::ng-deep {
            svg-icon {
                svg {
                    fill: rgba(#D8192D, .5);
                }
            }
        }
    }
}

.header__login-icon {
    margin-right: 11px;
    line-height: 0;
}


.logo {
    display: flex;
    background-image: url("/assets/images/logo_travel-car.svg");
    height: 87px;
    width: 200px;
    background-position: center;
    background-repeat: no-repeat;
}

.case-icon {
    background-image: url("/assets/icons/login/case.svg");
    display: block;
    height: 19px;
    width: 21px;
}


.profile-icon {
    background-image: url("/assets/icons/login/profile-icon.svg");
    height: 22px;
    width: 22px;
    display: block;
}

.wallet-icon {
    background-image: url("/assets/icons/login/wallet.svg");
    height: 21px;
    width: 20px;
    position: relative;
}

.wallet-icon__value {
    position: absolute;
    bottom: -7.5px;
    right: -7.5px;
    min-width: 15px;
    height: 15px;
    border-radius: 10px;
    background: #fff;
    font-size: 11px;
    line-height: 12px;
    text-align: center;
    padding: 0 2px;
    border: 1px solid #A3A3A3;
    display: inline-block;
    max-width: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
}


.pr {
    padding-right: 20px;
}


.header__logout {
    color: #706F6E;
    text-decoration: underline;
    cursor: pointer;
    transition:color .3s ease-in-out;
    &:hover {
        color: #D8192D;
    }
}
