@import "variables";

.req {
    display: inline-block;
    vertical-align: top;
    color: #D8192D;
    font-size: 14px;
    font-style: normal;
    line-height: 150%;
}

#certEnrollClassFactory, #cadesplugin_object {
    display: none;
}

.ui-inputtext {
    display: flex;
    background-color: white;
    border: 1px solid #dadada;
    border-radius: 3px;
    padding: 6px 7px 5px;
    color: #2B2A29;
    font-size: 14px;
    font-family: $fontFamily;

    &:hover {
        border-color: #b9b9b9;
    }

    &:focus {
        border-color: rgba(43, 42, 41, 0.5);
    }

    &:disabled {
        background-color: rgba(212, 218, 219, 0.3);
        border: 1px solid #dadada !important;
    }

    &::placeholder {
        color: #b5b5b5;
        font-family: $fontFamily;
        font-weight: 300;
    }

    &:-ms-input-placeholder {
        color: #b5b5b5!important;
        font-family: $fontFamily!important;
        font-weight: 300!important;
    }

    &.ng-touched.ng-invalid {
        border: 1px solid #A01221;
    }
}

.ui-dropdown {
    @extend .ui-inputtext;
    padding: inherit !important;
    width: inherit !important;

    .ui-placeholder {
        color: #b5b5b5;
    }

    .ui-dropdown-item {
        &:hover {
            color: #d8192d;
        }
    }

    &.ui-state-disabled {
        background-color: rgba(212, 218, 219, 0.3);
        border: 1px solid #dadada;
    }

    .ui-dropdown-label {
        background-color: transparent;
    }

    .ui-dropdown-filter-container {
        background: #fff;
    }

    .ui-dropdown-panel .ui-dropdown-filter-container .ui-dropdown-filter-icon {
        position: absolute;
        top: 14px;
        right: 1em;
    }

    .ui-dropdown-trigger.ui-corner-right {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 7px;

        .ui-clickable {
            display: none;
        }

        &:before {
            display: flex;
            background-image: url('/assets/icons/group-array.svg');
            content: '';
            width: 14px;
            height: 7px;
        }
    }

    .ui-dropdown-items-wrapper {
        background-color: white;
    }
}

.application-popup__dropdown .ui-dropdown .ui-dropdown-label {
    text-overflow: ellipsis;
}

.ui-button {
    display: flex;
    border-radius: 5px;
    font: 16px $fontFamily;
    font-weight: 400;
    height: 36px;
    align-items: center;
    &:not(.ui-fileupload-choose) {
        background-color: #d8192d;
        border: 1px solid #d8192d;
    }
    color: white;
    margin-right: inherit;

    &:hover:not(.ui-fileupload-choose) {
        border: 1px solid #a01221;
    }

    &:active:not(.ui-fileupload-choose) {
        background-color: #A01221
    }

    &:disabled:not(.ui-fileupload-choose) {
        background-color: grey;
        border: 1px solid #979797;
        cursor: inherit;
    }

    &.small {
        height: 16px !important;

        .ui-button-text {
            padding: 0 10px !important;
            font-size: 12px !important;
        }
    }
}

.ui-button-text-only {
    padding: 0 20px !important;

    &.small {
        padding: inherit !important;
    }
}

.ui-button-text {
    padding: 0 20px !important;
    line-height: 16px !important;
}

.ui-button.ui-button-secondary.ui-state-default,
.ui-splitbutton.ui-button-secondary .ui-button.ui-state-default {
    color: #616161;
    background-color: white;
    border: 1px solid #979797;
    &:hover {
        background-color: #F2F2F2;
    }
}

p-radiobutton {
    display: inline-flex;
}

.ui-radiobutton {
    height: 17px;
    width: 17px;
    border-radius: 100%;
    margin-right: 10px;
    margin-top: 2px;
    cursor: default;

    .ui-radiobutton-box {
        display: flex;
        height: 15px;
        width: 15px;
        justify-content: center;
        align-items: center;
        border: 1px solid #b3b3b3;
        background-color: white;
        cursor: pointer;
    }

    .ui-state-disabled {
        border: 1px solid #DADADA;
        background-color: rgba(212, 218, 219, 0.3);
        cursor: default;

        .ui-radiobutton-icon.pi-circle-on {
            background: #DADADA;
        }
    }
}

.ui-radiobutton-label {
    font-size: 14px;
    line-height: 19px;
    color: #2b2a29 !important;
    font-family: $fontFamily;
    font-weight: 300;
}

.ui-radiobutton .ui-radiobutton-box {
    position: relative;
}

.ui-radiobutton-icon {
    transform: translate(-50%, -50%);
    margin: 0;
}

.pi-circle-on {
    background-color: #d8192d;
    border-radius: 100%;
    height: 9px;
    width: 9px;

    &:before {
        display: none;
    }
}

.ui-fileupload-choose {
    border: 0;
    background-color: inherit !important;
    height: inherit;
    border-radius: 0;

    .ui-button-text {
        padding: 0 !important;
        text-decoration: underline;
        font: 14px $fontFamily;
        color: #2b2a29;
    }

    &:hover {
        border: inherit;

        .ui-button-text {
            color: #d8192d
        }
    }

    &:active {
        border: inherit;

        .ui-button-text {
            color: #a01221;
        }
    }

    .ui-button-icon-left {
        visibility: hidden;
    }
}

.ui-chkbox {
    margin-right: 10px;

    .ui-chkbox-box {
        height: 15px;
        width: 15px;
        display: flex;
        border: 1px solid #b3b3b3;
        justify-content: center;
        align-items: center;
        border-radius: 0;

        &.ui-state-active {
            border-color: #d8192d;
            background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.46 6L0 3.5152l1.08-1.091 1.2 1.2122L4.8 0 6 .909 2.46 6z' fill='%23D8192D'/%3E%3C/svg%3E");
            background-position: center center;
            background-repeat: no-repeat;
        }
    }

    .ui-chkbox-icon.pi-check {
        &:before {
            content: '';
        }
    }
}

.ui-treenode-content-selected {
    .ui-chkbox-box {
        border-color: #d8192d;
        background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.46 6L0 3.5152l1.08-1.091 1.2 1.2122L4.8 0 6 .909 2.46 6z' fill='%23D8192D'/%3E%3C/svg%3E");
        background-position: center center;
        background-repeat: no-repeat;
    }
}



.ui-dialog {
    background: #fff;
    border-radius: 8px !important;
    padding: 40px 12px 40px 50px;

    &.ui-shadow {
        box-shadow: none;
    }

    .ui-dialog-titlebar-close {
        text-decoration: inherit !important;
    }

    .ui-dialog-titlebar {
        padding: 0 !important;
        font-size: 18px;
        text-align: center;
        color: #2B2A29;
    }

    .ui-dialog-content {
        padding: 30px 28px 0 0 !important;
    }

    .ui-dialog-footer {
        padding: 30px 28px 0 0 !important;
    }
}

.ui-dialog-mask {
    background-color: rgba(0, 0, 0, 0.4) !important
}

.ui-tooltip {
    .ui-tooltip-text {
        border-radius: 3px;
        background-color: white !important;
        color: #2b2a29 !important;
        font-size: 13px;
        line-height: 17px;
        font-family: $fontFamily;
        font-weight: 300;
        padding: 8px 10px;
        border: 1px solid #dadada;
    }

    .ui-tooltip-arrow {
        border-top-color: #dadada
    }
}

.ui-datatable {
    .ui-datatable-footer {
        margin-top: 25px;
    }

    .ui-paginator-bottom {
        margin-top: 37px;
    }

    .ui-datatable-thead tr th,
    .ui-datatable-data > tr > td {
        border: none;
    }

    .ui-datatable-thead tr th {
        color: #2b2a29;
    }
}

.ui-tree {
    width: inherit !important;
    border: inherit !important;
    padding: inherit !important;

    .ui-tree-filter-icon {
        display: block;
        content: '';
        background-image: url("/assets/icons/classifire/search.svg");
        width: 18px;
        height: 19px;

    }

    .pi-search:before {
        content: '' !important;
    }
}
.ui-galleria-panel-wrapper {
    margin-bottom: 15px !important;
}

.ui-panel-images {
    width: 276px;
    height: 176px;
    object-fit: cover;
}

.ui-galleria-frame-image {
    object-fit: cover;
}

.ui-galleria-nav-prev,
.ui-galleria-nav-next {
    position: absolute;

    &::before {
        content: '';
        position: absolute;
        top: -13px;
        left: 0;
        width: 11px;
        height: 21px;
        background: url('/assets/icons/icon-arrow.svg') no-repeat;
    }
}

.ui-galleria-nav-next {
    &::before {
        transform: rotate(180deg);
        margin-left: 10px;
    }
}



@keyframes ui-progress-spinner-color {
    100%,
    0% {
        stroke: #d8192d;
    }
    40% {
        stroke: #d8192d;
    }
    66% {
        stroke: #d8192d;
    }
    80%,
    90% {
        stroke: #d8192d;
    }
}

.btn.btn-primary {
    background: #d8192d;
    border-color: #d8192d;
    &:hover {
        background: darken(#d8192d, 10%);
        border-color: darken(#d8192d, 20%);
    }
}


.ui-slider .ui-slider-handle {
    width: 17px;
    height: 17px;
    background: #fff;
    border: 1px solid #D8192D;
    border-radius: 50%;
    cursor: pointer;
}

.ui-slider-horizontal .ui-slider-handle {
    top: 50%;
    transform: translateY(-50%);
}

.ui-slider-horizontal .ui-slider-range-min {
    background: #D8192D;
}

.ui-slider {
    background: #B3B3B3;
    height: 4px;
    padding: 0 10px;
    border-radius: 10px;
}

.ui-slider .ui-slider-range {
    background: #D8192D;
}

.ui-calendar .ui-datepicker {
    background: #fff;
}

.ui-calendar {
    .ui-inputtext {
        padding-right: 20px;
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='%23B5B5B5' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.571 3.0811H3.0475v-.7705H1.5237v2.3111h12.1896v-2.311h-1.5237v.7704h-1.5237v-.7705H4.5711v.7705zm9.1423 3.0812H1.5237v7.7026h12.1896V6.1623zM10.6659.7703H4.5711V0H3.0474v.7703H1.5237C.6822.7703 0 1.46 0 2.3108v11.5543c0 .8508.6822 1.5406 1.5237 1.5406h12.1896c.8415 0 1.5237-.6898 1.5237-1.5406V2.3109c0-.8509-.6822-1.5406-1.5237-1.5406h-1.5237V0h-1.5237v.7703zm-5.333 8.4731H3.8093V7.7028H5.333v1.5406zm1.5237 0h1.5237V7.7028H6.8566v1.5406zm4.5712 0H9.9041V7.7028h1.5237v1.5406zm-7.6185 3.0811H5.333V10.784H3.8092v1.5405zm4.571 0H6.8566V10.784h1.5237v1.5405z'/%3E%3C/svg%3E");
        background-position: calc(100% - 10px) center;
        background-repeat: no-repeat;
    }
}
.ui-datepicker-buttonbar {
    .ui-g {
        justify-content: space-between;
    }
    .ui-g-6 {
        width: inherit;
        display: flex;
        justify-content: center;
        flex: 1;
    }
    .ui-button.ui-button-secondary.ui-state-default, .ui-splitbutton.ui-button-secondary .ui-button.ui-state-default {
        color: #616161;
        background-color: white;
        border: none;
        width: inherit;
        height: inherit;
        padding: 0!important;
        &:hover {
            color: #D8192D;
        }
        .ui-button-text {
            padding: 0!important;
        }
    }
}
.ui-datepicker td {
    border-radius: 3px;
    &.ui-datepicker-today {
        background: rgba(#d8192d,.25);
    }
    &.ui-datepicker-current-day {
        background: rgba(#d8192d,.5);
    }
    &>a {
        color: #000;
        cursor: pointer;
    }
    &>span {
        color: #c7c7c7
    }
}
.ui-datepicker-prev {
    cursor: pointer;
    .ui-datepicker-prev-icon:hover {
        &:before {
            color: #D8192D;
        }
    }
}

.ui-datepicker-next {
    cursor: pointer;
    .ui-datepicker-next-icon:hover {
        &:before {
            color: #D8192D;
        }
    }
}

.ui-treenode:not(.ui-treenode-leaf) {
    & > .ui-treenode-selectable.ui-treenode-content {
        cursor: pointer;
        position: relative;
        padding: 10px 0;
        border-bottom: 1px solid #B3B3B3;
        & >.ui-tree-toggler {
            &:before {
                content:'';
            }
            position: absolute;
            left: 0;
            top: 0;
            text-align: left;
            width: 100%;
            line-height: 26px;
            height: 100%;
            z-index: 3;
        }
        & >.ui-chkbox {
            display: none;
        }
        & >.ui-treenode-label {
            font-weight: 600;
            font-size: 14px;
            color: #2B2A29;
            &:after {
                content: '';
                display: inline-block;
                width:15px;
                height: 7px;
                background-image: url("data:image/svg+xml,%3Csvg width='15' height='7' viewBox='0 0 15 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M-.0001 5.6692L1.6643 6.999l5.5399-4.3675 5.6396 4.3115 1.6225-1.2878L7.2359-.0002 0 5.6692z' fill='%23B3B3B3'/%3E%3C/svg%3E");
                background-repeat: no-repeat;
                transform: rotate(180deg);
                margin-left: 8px;
            }
        }
        &[aria-expanded="true"] {
            & >.ui-treenode-label {
                &:after {
                    transform: rotate(0);
                }
            }
        }
        .ui-treenode-label {
            color: #2B2A29;
        }
    }
}

.ui-inputswitch {
    width: 32px;
    height: 17px;
    display: inline-flex;
    align-self: center;
    top: 3px;

    .ui-inputswitch-slider {
        background: #B3B3B3;
        height: 11px;
        top: 50%;
        transform: translate(0, -50%);
        &:before {
            left: 0;
            bottom: 50%;
            transform: translate(0, 50%);
            background: #B3B3B3;
            border:4px solid #fff;
            box-shadow: -2px 0px 2px rgba(0, 0, 0, 0.25), 1px 0px 2px rgba(0, 0, 0, 0.25);
            transition: all .3s ease-in-out;
        }
    }

    &.ui-inputswitch-checked {
        .ui-inputswitch-slider {
            &:before {
                left: 100%;
                bottom: 50%;
                transform: translate(-100%, 50%);
                background: #D8192D;
                border:4px solid #fff;
                box-shadow: -2px 0px 2px rgba(0, 0, 0, 0.25), 1px 0px 2px rgba(0, 0, 0, 0.25);
            }
        }
    }

    &.ui-state-disabled {
        .ui-inputswitch-slider {
            cursor: not-allowed;
            background: #DADADA;
            &:before {
                background: #DADADA;
            }
        }
        &.ui-inputswitch-checked {
            .ui-inputswitch-slider {
                &:before {
                    background: rgb(201, 162, 166);
                }
            }
        }
    }
}

.documents__protocol-wrapper {
    display: flex;
    flex-direction: column;
}

.tooltip-text {
    display: inline-flex;
    align-items: center;
    align-self: baseline;
    app-tooltip {
        margin-left: 10px;
    }
}
