<p-fileUpload class="fileUploader"
              #uploader
              chooseLabel="{{choiceLabel | translate}}"
              [multiple]="false"
              mode="basic"
              accept="{{getFormats()}}"
              fileLimit="1"
              [maxFileSize]="10000000"
              [showUploadButton]="false"
              [showCancelButton]="false"
              [auto]="true"
              (onSelect)="onSelectFile($event)">
</p-fileUpload>
<p *ngIf="isUploading">{{fileIsUploading}}{{dotsProgressBar}}</p>
<p *ngIf="!isUploading">{{filename}}</p>
