<div class="modal-body">
    <label>Вы хотите удалить лот?</label>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="accept()">Да</button>
    <button type="button" class="btn btn-primary" (click)="cancel()">Нет</button>
</div>
