<div>
  <h2 class="text-center">{{userInfo.name || "Имя пользователя отсутствует"}}</h2>
  <div class="card col-sm-6">
    <div class="card-body">
      <p class="card-text"><b>{{ 'User.UserInfo.UserName' | translate }}:</b> {{userInfo.name || dataIsEmpty}}</p>
      <p class="card-text"><b>{{ 'User.UserInfo.UserPhone' | translate }}:</b> {{userInfo.phone || dataIsEmpty}}</p>
      <p class="card-text"><b>{{ 'User.UserInfo.UserPhoneConfirmed' | translate }}:</b> {{humanizeBooleanType(userInfo.phoneConfirmed) || dataIsEmpty}}</p>
      <p class="card-text"><b>{{ 'User.UserInfo.UserEmail' | translate }}:</b> {{userInfo.email || dataIsEmpty}}</p>
      <p class="card-text"><b>{{ 'User.UserInfo.UserEmailConfirmed' | translate }}:</b> {{humanizeBooleanType(userInfo.emailConfirmed) || dataIsEmpty}}</p>

      <p-table *ngIf="arrayIsNotEmpty(userInfo.userExternalLogins)" [value]="userInfo.userExternalLogins">
        <ng-template pTemplate="header">
          <tr>
            <th>{{ 'User.UserInfo.ExternalUserName' | translate }}</th>
            <th>{{ 'User.UserInfo.ExternalSystemName' | translate }}</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-externalLogin>
          <tr>
            <td>{{externalLogin.externalUserName || dataIsEmpty}}</td>
            <td>{{externalLogin.externalSystemName || dataIsEmpty}}</td>
          </tr>
        </ng-template>
      </p-table>
      <br>

      <div class="btn-add-login">
        <button class="btn btn-outline-secondary" routerLink="/external">
          {{ 'User.UserInfo.Buttons.AddOrDeleteExternalLogin' | translate }}
        </button>
      </div>
      <br>

      <br>
    </div>
  </div>
</div>

<div *ngIf="!userInfo">
  <h2 class="text-center">{{ 'User.UserDataEmpty' | translate }}</h2>
</div>
