<!--
<div>
    <h1>{{currentStateDescription()}}</h1>
</div>
-->
<div [style.visibility]="state.preOrder || state.changePreOrder ? 'visible' : 'hidden'" [className]="state.preOrder || state.changePreOrder ? 'visible-class' : 'hidden-class'">
    <label for="addressFrom">{{'GenerateOffer.FromLabel' | translate}}</label>
    <div>
        <input type="text"
            class="form-control"
            (keydown.enter)="$event.preventDefault()"
            [placeholder]="'GenerateOffer.EnterAddress' | translate"
            [(ngModel)]="addressFrom"
            autocorrect="off"
            autocapitalize="off"
            spellcheck="off"
            type="text"
            #searchFrom
            id="addressFrom"
            >
        <button
            (click)="startStopSpeechSearchMovie()"
            class="form-control"
            [ngClass]="classForSpeechRecognitionAddressFrom"
            *ngIf="this.speechRecognitionEnabled">
        </button>
    </div>
    <label for="addressTo">{{'GenerateOffer.ToLabel' | translate}}</label>
    <input type="text"
        class="form-control"
        (keydown.enter)="$event.preventDefault()"
        [placeholder]="'GenerateOffer.EnterAddress' | translate"
        [(ngModel)]="addressTo"
        autocorrect="off"
        autocapitalize="off"
        spellcheck="off"
        type="text"
        #searchTo
        id="addressTo"
        >
</div>

<!--
<agm-map
    [zoom]="zoom"
    [disableDefaultUI]="false"
    [zoomControl]="true"
    [latitude]="locationFrom?.lat"
    [longitude]="locationFrom?.lng">

    <agm-marker
        [latitude]="locationFrom?.lat"
        [longitude]="locationFrom?.lng"
        [markerDraggable]="true"
        (dragEnd)="dragEndFrom($event)"
        (markerClick)="selectMarkerFrom()"
        iconUrl="/assets/icons/taxi.png"
        >
    </agm-marker>
    <agm-marker
        [latitude]="locationTo?.lat"
        [longitude]="locationTo?.lng"
        [markerDraggable]="true"
        (dragEnd)="dragEndTo($event)"
        (markerClick)="selectMarkerTo()"
        iconUrl="/assets/icons/taxi.png"
        >
    </agm-marker>

    <agm-marker
        *ngFor="let markerFrom of nearByLocationsFrom"
        [latitude]="markerFrom.lat"
        [longitude]="markerFrom.lng"
        (markerClick)="selectMarker($event)"
    >
    </agm-marker>

    <agm-marker
        *ngFor="let markerTo of nearByLocationsTo"
        [latitude]="markerTo.lat"
        [longitude]="markerTo.lng"
        (markerClick)="selectMarker($event)"
    >
    </agm-marker>
</agm-map>
-->
<p *ngIf="loading">{{'GenerateOffer.Loading' | translate}}</p>

<div *ngIf="state.preOrder" class="margin25">
    <button (click)="createPreOrder()" pButton>{{'GenerateOffer.CreatePreOrder' | translate}}</button>
</div>

<div *ngIf="state.changePreOrder">
    <button (click)="changePreOrder()" pButton>{{'GenerateOffer.ChangePreOrder' | translate}}</button>
</div>

<div *ngIf="state.createOrder">
    <label>{{'GenerateOffer.StateCreateOrder.YouWantToRide' | translate}}</label>
    <br />
    <label>{{'GenerateOffer.StateCreateOrder.From' | translate}}&nbsp;<b>{{addressFrom}}</b></label>
    <br />
    <app-find-location 
        [locationToSearch]="locationFrom" 
        [buttonText]="'GenerateOffer.StateCreateOrder.FindWhoRideFromHere' | translate"
        [searchInLocationFrom]="true"
        [searchInLocationTo]="false"
        >
    </app-find-location>
    <br />
    <label>{{'GenerateOffer.StateCreateOrder.To' | translate}}&nbsp;<b>{{addressTo}}</b></label>
    <br />
    <app-find-location 
        [locationToSearch]="locationTo" 
        [buttonText]="'GenerateOffer.StateCreateOrder.FindWhoRideHere' | translate"
        [searchInLocationFrom]="false"
        [searchInLocationTo]="true"
        >
    </app-find-location>
    <br />
    <button (click)="goToChangePreOrderState()" pButton>{{'GenerateOffer.EnterAnotherPreOrderDate' | translate}}</button>
    <br />
    <div *ngIf="!isAuthorized()" class="nice-shadows">
        <a routerLink="/login">{{'GenerateOffer.StateCreateOrder.Login' | translate}}</a>&nbsp;
        <span>{{'GenerateOffer.StateCreateOrder.LoginText' | translate}}</span>
    </div>
    <br />
</div>

<div *ngIf="state.createOrder">
    <button *ngIf="isAuthorized()" (click)="createOrder()" pButton>{{'GenerateOffer.CreateOffer' | translate}}</button>
</div>
<div *ngIf="state.orderCreated">
    <label>{{'GenerateOffer.OrderCreatedSuccess' | translate}}</label>
</div>
<div *ngIf="!state.preOrder">
    <button (click)="startNew()" pButton class="margin25">{{'GenerateOffer.StartNew' | translate}}</button>
</div>

<div class="container">
    <!-- <ya-map *ngIf="locationFrom" [center]="[locationFrom.lat, locationFrom.lng]" zoom="14"> -->
    <!--
        <ya-placemark *ngIf="locationFrom" [geometry]="[locationFrom.lat, locationFrom.lng]"></ya-placemark>
        <ya-placemark *ngIf="locationTo" [geometry]="[locationTo.lat, locationTo.lng]"></ya-placemark>
    -->
        <!-- старое и не используется
        <ya-placemark *ngFor="let markerFrom of nearByLocationsFrom" [geometry]="[markerFrom.lat, markerFrom.lng]"></ya-placemark>
        <ya-placemark *ngFor="let markerTo of nearByLocationsTo" [geometry]="[markerTo.lat, markerTo.lng]"></ya-placemark>
        -->
    <!-- </ya-map> -->
</div>
