.mic-button {
    background:url(/assets/icons/icons8-microphone-30.png) no-repeat;
    cursor:pointer;
    border:none;
    width:30px;
    height:30px;
}

.mic-button-pressed {
    background:url(/assets/icons/icons8-block-microphone-30.png) no-repeat;
    cursor:pointer;
    border:none;
    width:30px;
    height:30px;
}

.container {
    width: 1000px;
    height: 500px;
}

@media (max-width: 768px) {
    .container {
        width: 500px;
        height: 300px;
    }
}

@media (max-width: 480px) {
    .container {
        width: 300px;
        height: 200px;
    }
}

.margin25 {
    margin-top: 25px;
    margin-bottom: 25px;
}

.hidden-class {
    height: 0px;
}

.nice-shadows {
    font-size: 1.5em;
    color: rgba(0,0,0,0.6);
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
    0px -5px 35px rgba(255,255,255,0.3);
}

.button-found {
    margin-left: 25px;
    margin-bottom: 10px;
}
