<div *ngIf="orders && orders.length > 0">
    <div class="card" *ngFor="let order of orders">
        <h2>Заказ №{{order.number}}</h2>
        <p>Поездка из <b>{{order.from.address}}</b> в <b>{{order.to.address}}</b></p>
        <p>Дата создания: {{order.date | date:"short"}}</p>
        <p>
            <app-find-location
                [locationToSearch]="order.from"
                [buttonText]="'GenerateOffer.StateCreateOrder.FindWhoRideFromHere' | translate"
                [searchInLocationFrom]="true"
                [searchInLocationTo]="false"
            >
            </app-find-location>
        </p>
        <p>
            <app-find-location
                [locationToSearch]="order.to"
                [buttonText]="'GenerateOffer.StateCreateOrder.FindWhoRideHere' | translate"
                [searchInLocationFrom]="false"
                [searchInLocationTo]="true"
            >
            </app-find-location>
        </p>
    </div>
</div>

<div *ngIf="!orders || orders.length == 0">
    <span>У вас нет заказов. Пожалуйста, <a routerLink="/offer">перейдите к заказам</a> и оформите новый заказ</span>
</div>


