.mic-button {
    background:url(/assets/icons/icons8-microphone-30.png) no-repeat;
    cursor:pointer;
    border:none;
    width:30px;
    height:30px;
}

.mic-button-pressed {
    background:url(/assets/icons/icons8-block-microphone-30.png) no-repeat;
    cursor:pointer;
    border:none;
    width:30px;
    height:30px;
}

.container {
    width: 1000px;
    height: 500px;
}

@media (max-width: 768px) {
    .container {
        width: 500px;
        height: 300px;
    }
}

@media (max-width: 480px) {
    .container {
        width: 300px;
        height: 200px;
    }
}

.margin25 {
    margin-top: 25px;
    margin-bottom: 25px;
}

.hidden-class {
    height: 0px;
}

.nice-shadows {
    font-size: 1.5em;
    color: rgba(0,0,0,0.6);
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
    0px -5px 35px rgba(255,255,255,0.3);
}

.button-found {
    margin-left: 25px;
    margin-bottom: 10px;
}

.card {
    margin-top: 15px;
    border-radius: 10px;
    filter: drop-shadow(0 5px 10px 0 #ffffff);
    width: 300px;
    height: auto;
    background-color: #ffffff;
    padding: 20px;
    position: relative;
    z-index: 0;
    overflow: hidden;
    transition: 0.6s ease-in;
  }
  
  .card::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -15px;
    right: -15px;
    background: #235c4b;
    height:220px;
    width: 25px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
  }

  .card p{
      padding: 5px 0;
  }
