<div class="card" *ngFor="let taxiInfo of taxiList">
    <h2>{{taxiInfo.name}}</h2>
    <p>{{taxiInfo.description}}</p>
    <p>Телефоны:</p>
    <p *ngFor="let phone of taxiInfo.phones">{{phone}}</p>
    <p><a href="{{taxiInfo.site}}" target="_blank">{{taxiInfo.site}}</a></p>
</div>
