.card {
    margin-top: 15px;
    border-radius: 10px;
    filter: drop-shadow(0 5px 10px 0 #ffffff);
    width: 300px;
    height: auto;
    background-color: #ffffff;
    padding: 20px;
    position: relative;
    z-index: 0;
    overflow: hidden;
    transition: 0.6s ease-in;
  }
  
  .card::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -15px;
    right: -15px;
    background: #235c4b;
    height:220px;
    width: 25px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
  }
  
  .card:hover::before{
      transition-delay:0.2s ;
  
    transform: scale(40);
  }
  
  .card:hover{
      color: #ffffff;
  
  }
  
  .card p{
      padding: 5px 0;
  }