.file-uploader {
    display: flex;
    align-items: baseline;
}

.file-uploader__title {
    flex-shrink: 0;
    margin-right: 40px;

}

.file-uploader__files {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -22.5px;
}

.file-uploader__file {
    display: flex;
    align-items: center;
    max-width: 220px;
    margin: 0 22.5px 5px;

    .file-uploader__file-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        color: #2B2A29;
        text-decoration: underline;
    }

    img {
        width: 220px;
        height: 71px;
        cursor: pointer;
    }

    .close {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 15px;
        width: 15px;
        border-radius: 100%;
        background-color: rgba(236, 236, 236, 0.5);
        z-index: 50;
        margin-left: 5px;
        cursor: pointer;

        &:before {
            content: '';
            background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5 6.5022L1.5022 10 0 8.4978 3.4978 5 0 1.5022 1.5022 0 5 3.4978 8.4978 0 10 1.5022 6.5022 5 10 8.4978 8.4978 10 5 6.5022z' fill='%23706F6E'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            height: 10px;
            width: 10px;
        }
    }

    &.main {
        border: 2px solid #D8192D;
        display: flex;
        width: 94px;
        height: 71px;
    }

    &.main img {
        width: 90px;
        height: 67px;
        cursor: inherit;
    }

    &.main .close {
        margin: 3px 0 0 -18px !important;
    }
}
.file-uploader__file-icon {
    margin-right: 9px;
}
