<div class="file-uploader" fxLayout fxLayoutGap="40px">
    <div class="file-uploader__title" fxLayout fxLayoutGap="10px">
        <app-multiply-file-uploader
            (filesWithHashes)="addFiles($event)"
            [choiceLabel]="'Добавить'"
            [clearAfterUpload]="false"
            [showNames]="false"
            [formats]="formats"
            [multiple]="false"
        ></app-multiply-file-uploader>
    </div>

    <div class="file-uploader__files">
            <div class="file-uploader__file" *ngFor="let file of allFileInfo; let i = index; trackBy: trackByFn">
                <svg-icon src="/assets/icons/add-file.svg" class="file-uploader__file-icon"></svg-icon>
                <a download [href]="fileUrl(file.id)" class="cut-text">{{file.name}}</a>
                <div (click)="deleteFileId(file.id)" class="close"></div>
            </div>
    </div>
</div>
