.arrow-down {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  float: left;
  margin-right: 1rem;
}

.arrow-up {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  float: left;
  margin-right: 1rem;
}

img {
  height: auto;
}

:host /deep/ .ui-accordion-header {
  padding: 10px;
  width: 100%;
}

:host /deep/ .ui-accordion {
  margin: 0;
  padding-bottom: 5px;
}

.winner {
  color: limegreen;
}

.header {
  width: 100%;
}

:host /deep/ .ui-accordion .ui-accordion-content-wrapper {
  padding-top: 0.571em;
}

body :host /deep/ .ui-accordion .ui-accordion-header a,
body :host /deep/ .ui-accordion .ui-accordion-header a:hover,
body :host /deep/ .ui-accordion .ui-accordion-header a:active,
body :host /deep/ .ui-accordion .ui-accordion-header:not(.ui-state-active):not(.ui-state-disabled):hover a,
body :host /deep/ .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a{
  background-color: #e8e8e8;
  border: 1px solid #e8e8e8;
  color: #333333;
  padding: 1em 0 1em 10px;
  font-weight: 600;
}

body :host /deep/ .ui-accordion-header,
body :host /deep/ .ui-accordion .ui-accordion-content {
  padding: 0;
  border: none
}

