<p-accordion (onOpen)="onTabOpen()" (onClose)="onTabClose()">
  <p-accordionTab [selected]="selected">
    <p-header class="header">
      <span class={{getClassName()}}>
        <img src="../../../../assets/icons/accordion-caret.svg" [ngClass]="arrowState()">{{title}}
      </span>
    </p-header>
    <ng-content>
    </ng-content>
  </p-accordionTab>
</p-accordion>
