<div *ngIf="gridHasNoData">
  <h2 class="text-center">{{ 'Messages.DataNotFound' | translate }}</h2><br>
</div>
<p-dataTable *ngIf="!gridHasNoData" class="datagrid datagrid--registers"
             [class]="gridClassName"
             [rowStyleClass]="rowStyleClass"
             [value]="records"
             [lazy]="true"
             (onLazyLoad)="paginate($event)"
             (onPage)="callbackSavePager($event)"
             (onRowDblclick)="onRowDblClick.emit($event.data)"
             [paginator]="showPaging"
             [rows]="pager.RecordsVisible"
             paginatorPosition="both"
             [totalRecords]="pager.TotalRecords"
             [pageLinks]="5"
             [rowsPerPageOptions]="[10,25,50]">
</p-dataTable>
<div *ngIf="!gridHasNoData && visibleBtnLoadmore" class="loadmore--wrapper">
  <button class="btn btn--renewed btn--plain" [class.btn--loading]="isLoading" (click)="loadMore()">
    <span class="btn__text">{{ 'Grid.LoadMore' | translate }}</span>
    <div class="spinner spinner--btn">
      <div class="bounce bounce--first bounce1"></div>
      <div class="bounce bounce--second bounce2"></div>
      <div class="bounce bounce--third bounce3"></div>
    </div>
  </button>
</div>


