<!--<p-calendar-->
<!--    (onInput)="onInputValue($event)"-->
<!--    (onSelect)="onSelectValue(value)"-->
<!--    [(ngModel)]="value"-->
<!--    [disabled]="checkIsDisabled()"-->
<!--    [locale]="dateTimeLocale"-->
<!--    [placeholder]="getPlaceHolder()"-->
<!--    showTime="true"-->
<!--    dateFormat="dd.mm.yy"-->
<!--    hourFormat="24"-->
<!--    monthNavigator="true"-->
<!--    showButtonBar="true"-->
<!--    yearNavigator="true"-->
<!--    yearRange="2019:2035"-->
<!--&gt;</p-calendar>-->
<input [(ngModel)]="value"
       [disabled]="isDisabled"
       [owlDateTimeTrigger]="dt1"
       [owlDateTime]="dt1"
       [placeholder]="placeholder"
       (ngModelChange)="onChange($event)"
       pInputText
>

<span [owlDateTimeTrigger]="dt1">
    <i class="fa fa-calendar"></i>
</span>

<owl-date-time #dt1></owl-date-time>
