<div class="container">
  <div class="row">
    <div class="col-md-10 push-md-1">
      <h1>{{ 'NotFound.Title' | translate }}</h1>
      <p class="lead">{{ 'NotFound.Message' | translate }}</p>
      <p>
        <a class="btn rounded-btn" [routerLink]="['/']">{{ 'NotFound.LinkMainPageTitle' | translate }}</a>
      </p>
    </div>
  </div>
</div>
