:host {
    background-color: #718e00;
    height: 60px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.botline {
    display: flex;
    align-items: center;
    width: 75%;
    height: 100%;
    margin-left: 10px;
}

.botline__right {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.botline__date {
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 14px;
    margin-left: 19px;
}

.botline__notifications {
    margin-left: 27px;
}

.botline__notifications-trigger {
    cursor: pointer;

    &:hover {
        ::ng-deep svg-icon {
            line-height: 0;

            svg {
                fill: #D8192D;
            }
        }
    }
}

.botline__search-field {
    margin-left: 27px;
    display: flex;
}

.botline__nav-item {
    color: white !important;
    text-decoration: inherit !important;
    font-size: 14px !important;

    &+& {
        margin-left: 17px;
    }
}

.botline__search-input {
    width: 250px;
    height: 30px;
    background: #ECECEC;
    border: 1px solid #DADADA;
    border-radius: 5px 0 0 5px;
}

.botline__search-btn {
    display: inline-flex;
    width: 100px;
    height: 30px;
    background: #D8192D;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border: none;
    border-radius: 0 5px 5px 0;
    color: #fff;
}
