<div class="botline">
    <div class="botline__nav-item">
        <a routerLink="/" [text]="'Menu.MainInfo' | translate"></a>
    </div>
    <div class="botline__nav-item">
        <a routerLink="/offer" [text]="'Menu.Offer' | translate"></a>
    </div>
    <div *ngIf="isAuthorized()" class="botline__nav-item">
        <a routerLink="/offer/my" [text]="'Menu.MyOffers' | translate"></a>
    </div>
    <div class="botline__nav-item">
        <a routerLink="/taxi" [text]="'Menu.TaxiList' | translate"></a>
    </div>
    <!--
    <div *ngIf="isAuthorized()" class="botline__nav-item">
        <a routerLink="/user" [text]="'Menu.AboutUser' | translate"></a>
    </div>
    -->
    <div class="botline__right botline__langs">
        <a href="#" (click)="onSelectLanguage('en')" style="margin-left: 10px;margin-right: 10px;">EN</a>
        <a href="#" (click)="onSelectLanguage('ru')">РУ</a>
        <!--
        <select (change)="onSelectLanguage($event.target.value)" class="form-control">
            <option *ngFor="let lang of supportedLanguages" [value]="lang.code">{{lang.name}}</option>
        </select>
        -->
    </div>
</div>