<input (ngModelChange)="writeValue($event)"
       [(ngModel)]="value"
       [disabled]="isDisabled"
       [owlDateTimeTrigger]="dt1"
       [owlDateTime]="dt1"
       [placeholder]="placeholder"
       pInputText>

<span [owlDateTimeTrigger]="dt1">
    <i class="fa fa-calendar"></i>
</span>

<owl-date-time #dt1
               [firstDayOfWeek]="1"></owl-date-time>
