<div class="app-content">
    <app-header></app-header>
    <app-navbar></app-navbar>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>

<div class="loader" [ngClass]="{ 'loader--active': spinner.isSpinnerVisible$ | async }">
    <p-progressSpinner></p-progressSpinner>
</div>
