:host {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100%;
    width: 100%;
    overflow-x: hidden;
}

app-navbar {
    margin-bottom: 60px;
}

.content {
    display: flex;
    margin-left: 10px;
}

.app-content {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: rgba(255, 255, 255, .8);
    display: none;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity .4s ease-in-out;

    &--active {
        display: flex;
        opacity: 1;
    }
}
