<button *ngIf="isAuthorized()" (click)="findCompanionLocation()" pButton class="button-found">
    {{buttonText}}
</button>

<br />
<div *ngIf="searchPressed && (!nearByLocations || nearByLocations.length == 0)">
    <label>Заказы не найдены</label>
</div>
<div *ngIf="searchPressed && nearByLocations && nearByLocations.length > 0">
    <!-- <label>{{'GenerateOffer.StateCreateOrder.FoundOrdersLocationTo' | translate}}</label> -->
    <app-found-location [foundLocations]="nearByLocations"></app-found-location>
</div>

