<!--
<table class="table-border" *ngIf="foundLocations && foundLocations.length > 0">
    <tr>
        <th>{{'FoundLocationsComponent.From' | translate}}</th>
        <th>{{'FoundLocationsComponent.To' | translate}}</th>
        <th>{{'FoundLocationsComponent.CreatedDate' | translate}}</th>
        <th>{{'FoundLocationsComponent.DoesAuthorizedUserCreated' | translate}}</th>
        <th>{{'FoundLocationsComponent.TheSameLocation' | translate}}</th>
    </tr>
    <tr *ngFor="let foundLocation of foundLocations">
        <td>{{foundLocation.fromLocation?.address}}({{foundLocation?.fromLocation?.lat}}&nbsp;{{foundLocation.fromLocation?.lng}})</td>
        <td>{{foundLocation.toLocation?.address}}({{foundLocation?.toLocation?.lat}}&nbsp;{{foundLocation.toLocation?.lng}})</td>
        <td>{{foundLocation.createdDate | date: "short"}}</td>
        <td>
            <app-yes-no-label [value]="foundLocation.isAuthorizedUser"></app-yes-no-label>
            <app-direct-chat *ngIf="foundLocation.isAuthorizedUser" [toUserId]="foundLocation.userId"></app-direct-chat>
        </td>
        <td>
            <app-yes-no-label [value]="foundLocation.sameLocation" [noAdditionalText]="additional(foundLocation.distance)"></app-yes-no-label>
        </td>
    </tr>
</table>
-->

          <!-- {{foundLocationTitle(foundLocation)}} -->


<div *ngIf="foundLocations && foundLocations.length > 0">
  <ngb-accordion #acc="ngbAccordion">
    <ngb-panel *ngFor="let foundLocation of foundLocations" [title]="foundLocationTitle(foundLocation)">
      <ng-template ngbPanelHeader>
          Заголовок
      </ng-template>
      <ng-template ngbPanelContent>
        <div>
          <app-direct-chat *ngIf="foundLocation.isAuthorizedUser" 
            [toUserId]="foundLocation.userId" 
            buttonText="Поехали вместе" 
            message="RideTogether"
            showMessageAboutNotReceived="true">
          </app-direct-chat>
        </div>
        <div>
          Место отправления:<b>{{foundLocation.fromLocation?.address}}</b>
        </div>
        <div>
          Место прибытия:<b>{{foundLocation.toLocation?.address}}</b>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>