:host {
    padding-top: 5px;
    &>span:not(first-child) {
        margin-left: 10px;
    }
}


::ng-deep p-fileupload {
    display: flex;
    align-items: center;
    max-width: 200px;
    border-radius: 3px;
    background-color: #D8192D;
    height: 24px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    position: relative;
    transition: background-color .3s ease-in-out;
    &:hover {
        background-color: darken(#D8192D, 5%);
    }

    &:before {
        position: absolute;
        left: 10px;
        top: -6px;
        content: '';
        width: 14px;
        height: 24px;
        display: flex;
        z-index: 1;
        background-image: url("data:image/svg+xml,%3Csvg width='14' height='24' viewBox='0 0 14 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 5.5h-.5v12c0 1.9339-1.5661 3.5-3.5 3.5s-3.5-1.5661-3.5-3.5V5c0-1.1039.8961-2 2-2 1.1039 0 2 .8961 2 2v10.5c0 .2739-.2261.5-.5.5-.2739 0-.5-.2261-.5-.5v-10H4v10c0 1.6561 1.3439 3 3 3s3-1.3439 3-3V5C10 2.5139 7.9861.5 5.5.5S1 2.5139 1 5v12.5c0 3.3161 2.6839 6 6 6s6-2.6839 6-6v-12h-2z' fill='%23fff' stroke='%23D8192D'/%3E%3C/svg%3E");
        flex-shrink: 0;
    }

    .ui-fileupload-choose {
        display: inline-block;
        padding-left: 30px;
        padding-right: 12px;
        height: 100%;
        text-decoration: none;
        border-radius: 3px;
        .ui-button-text  {
            color: #fff;
            text-decoration: none;
            font-size: 14px;
            height: 24px;
            line-height: 24px !important;
        }
        &:hover {
            .ui-button-text  {
                color: #fff;
            }
        }
    }
}
span {
    &:before {
        content: '';
        width: 17px;
        height: 19px;
        display: flex;
        background-image: url("/assets/icons/add-file.svg");
        flex-shrink: 0;
    }
    color: #2B2A29;
    text-decoration: underline;
}

.download-link {
    display: flex;
    align-items: center;
    &:before {
        content: '';
        width: 17px;
        height: 19px;
        display: flex;
        background-image: url("/assets/icons/add-file.svg");
        flex-shrink: 0;
        margin-right: 5px;
    }
}

.download-link__clear {
    margin-left: 5px;
}

svg-icon {
    cursor: pointer;
}

.spinner {
    display: block;
    width: 30px;
    height: 8px;
    background-image: url("/assets/icons/file-uploader/three-dots.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

