<ng-container *ngIf="val; else uploadControl">
    <div class="download-link">
            <a download [href]="fileUrl(val)" class="cut-text download-link__text">{{name || val}}</a>
            <svg-icon (click)="clear()"
                      class="clear download-link__clear"
                      src="/assets/icons/file-uploader/clear.svg"
            ></svg-icon>
    </div>
</ng-container>

<ng-template #uploadControl>
    <p-fileUpload (onSelect)="upload($event)"
                  [accept]="formats"
                  [auto]="true"
                  [chooseLabel]="choiceLabel | translate"
                  [maxFileSize]="10000000"
                  customUpload="true"
                  mode="basic"
    ></p-fileUpload>
</ng-template>

<ng-container *ngIf="isUploading">
    <div class="spinner"></div>
</ng-container>
