:host {
    width: 100%;
}

::ng-deep {
    p-galleria.banner-carousel {
        .ui-panel-images {
            width: 100%;
            height: 150px;
        }

        .ui-galleria-filmstrip {
            display: flex;
            width: 100%;
            justify-content: center;
        }

        .ui-galleria-nav-next, .ui-galleria-nav-prev {
            bottom: calc(15px + 50%)!important;
            transform: translate(0, 50%);
        }

        .ui-galleria-nav-next {
            right: 14px;
        }

        .ui-galleria-nav-prev {
            left: 14px;
            right: inherit;
        }

        .ui-galleria .ui-galleria-frame {
            float: left;
            margin: 0 13px;
            opacity: 1;
            background: #B9B9B9;
            border-radius: 50%;
            cursor: pointer;
            &.ui-galleria-frame-active {
                background: #D8192D;
            }
        }

        .ui-galleria-nav-prev::before, .ui-galleria-nav-next::before {
            width: 14px;
            height: 26px;
            background: url('/assets/icons/icon-arrow-big.svg') no-repeat;
        }
    }
}
