@import '~bootstrap/dist/css/bootstrap.css';
@import '~ngx-toastr/toastr.css';
@import '~ng-pick-datetime/assets/style/picker.min.css';


body, html {
    height: 100%;
}

body {
    font-size: 16px;
    font-family: "Open Sans", "Helvetica", sans-serif;
}

label {
    margin-bottom: inherit;
}

a {
    color: #2b2a29;
    text-decoration: underline;

    &:hover {
        color: #D8192D;
    }
}

.group {
    display: flex;
    flex-direction: column;
    width: 100%;
    &> * + * {
        margin-top: 20px;
    }
}

.fields-group {
    display: flex;
    flex-wrap: wrap;
    margin-left: -14px;
    margin-right: -14px;

    &>* {
        width: calc(50% - 28px);
        margin-left: 14px;
        margin-right: 14px;

        &:not(:first-child):not(:nth-child(2)) {
            margin-top: 20px;
        }
    }

    &>.fields-group {
        &>.field {
            margin-right: 0;
            margin-left: 0;
            width: calc(50% - 14px);
        }
        & .field +.field {
            margin-left: 28px;
        }
    }
}

.field-inline {
    display: flex;
    font-size: 14px;
    color: #706F6E;
    align-items: center;

    & > *:first-child {
        margin-right: 30px;
    }

    & .field-name {
        display: flex;
        flex-shrink: 0;
    }
}

.inline-controls {
    display: flex;
    align-items: center;
    &>*+* {
        margin-left: 30px;
    }
}

.field {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: #706F6E;

    & > *:first-child {
        margin-bottom: 10px;
    }

    & > .fields-group {
        margin-top: 10px;
    }
}

.form-input {
    width: 100%;
}

.form-control__wrapper {
    display: flex;
    align-items: center;

    input, p-dropdown, app-classifier, textarea {
        width: 100%;
    }

    &--error {
        input, p-dropdown .ui-dropdown, .ui-inputtext {
            border-color: #A01221;
            &:hover {
                border-color: darken(#A01221, 5%);
            }
        }
    }
}

.form-control__message {
    margin-top: 6px;
    font-size: 11px;
    line-height: 12px;
    color: #737373;

    &--error {
        color: #A01221;
    }
}

.form-control__icon {
    margin-left: 7px;
    margin-right: 7px;
}

.form-title {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #141414;
    line-height: 24px;
}

.group-control {
    display: flex;
    padding: 9px;
    background-color: #ECECEC;
    border-radius: 8px 8px 0 0;
    cursor: pointer;
    border-bottom: 1px solid #b3b3b3;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    span {
        font-size: 18px;
        line-height: 18px;
        color: #131212;
        margin: 0 9px;
    }

    &:after {
        content: '';
        display: flex;
        background-image: url("/assets/icons/group-array.svg");
        width: 14px;
        height: 7px;
        transform: rotate(180deg);
    }

    &.closed {
        border-radius: 8px;
        border: 1px solid #b3b3b3;
        margin-bottom: inherit;

        &:after {
            transform: inherit;
        }
    }
}

.block-title {
    font-size: 18px;
    color: #2B2A29;
}

.right-button {
    margin-left: auto;
}

.line {
    border-bottom: 1px solid #b3b3b3;
}

.table-header {
    background-color: #e3e3e3;
    font-weight: 600;
    line-height: 19px;
    border-radius: 8px 8px 0 0;
    font-size: 14px;
    color: #2B2A29;
    padding: 12px;
}

.form-action {
    width: 270px;
    justify-content: center;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.documents__protocol-uploader .ui-fileupload-choose {
    padding: 1px 0px !important;

    .ui-button-text {
        font-weight: 300;
    }
}

.documents__protocol-file .ui-fileupload-choose {
    .ui-button-text {
        font-size: 14px;
    }

    a {
        position: relative;
        font-size: 14px;
        padding-left: 25px;
    }
}

.lot__checkbox .ui-chkbox-box {
    background-color: #fff;
}

.table-radiobutton .ui-radiobutton {
    margin-right: 5px;

    .ui-radiobutton-label {
        margin-right: 19px;
    }

    &--last .ui-radiobutton-label {
        margin-right: 0
    }
}

.protocol-card .ui-calendar input {
    width: 100%;
}

.btn__bottom-close .ui-button-text,
.application-popup__btn .ui-button-text,
.new-offer__offer-btn .ui-button-text {
    width: 100%
}

.confirm-dialog .ui-dialog .ui-dialog-titlebar-close {
    margin: 5px 5px 0 0;
}

.cut-text {
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    white-space: nowrap;
}

.table-participants .ui-datatable {
    table {
        width: 100%;
        border-radius: 8px 8px 0 0;
        border-collapse: collapse;
        table-layout: auto;
    }

    .ui-datatable-thead tr th,
    .ui-datatable-data tr td {
        vertical-align: top;
        padding: 15px 20px;
        font-weight: 300;
        font-size: 14px;
        line-height: 19px;
    }

    .ui-datatable-thead {
        tr {
            th {
                font-weight: 600;
                color: #4D4D4D;
                background: #F7F7F7;

                &.num {
                    width: 80px;
                    border-radius: 8px 0 0 0;
                }

                &.name {
                    width: 300px;
                }

                &.event {
                    width: 360px;
                }

                &.ante {
                    width: 138px;
                    text-align: right;
                }

                &.date {
                    padding-left: 40px;
                    border-radius: 0 8px 0 0;
                }
            }
        }
    }

    .ui-datatable-data {
        tr {
            border: 1px solid #DEDEDE;
            border-top: none;
        }

        td {
            color: #2B2A29;
        }

        .ante {
            text-align: right;
        }

        .date {
            padding-left: 40px;
        }

        .highlight {
            font-weight: 600;
        }

        .highlight-event {
            color: #3C893B;
        }
    }
}

.add-button {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    color: #2B2A29;
    background: transparent;
    border: none;
    transition: color .3s ease-in-out;

    svg-icon {
        line-height: 0;
        margin-right: 15px;

        svg {
            transition: fill .3s ease-in-out;
        }
    }

    &:hover {
        color: #D8192D;

        svg-icon {
            svg {
                fill: #D8192D;
            }
        }
    }
}
