<p-fileUpload class="fileUploader"
              #uploader
              chooseLabel="{{choiceLabel | translate}}"
              [multiple]="multiple"
              mode="basic"
              accept="{{getFormats()}}"
              [maxFileSize]="10000000"
              [showUploadButton]="false"
              [showCancelButton]="false"
              [auto]="true"
              (onSelect)="onSelectFiles($event)">
</p-fileUpload>

<ng-container *ngIf="showLoading">
    <p class="message" *ngIf="isMultiplyUploading">{{fileIsUploading}}{{dotsProgressBar}}</p>
</ng-container>

<ng-container *ngIf="showNames">
    <p *ngIf="!isMultiplyUploading">{{fileNames.join(', ')}}</p>
</ng-container>
