<div class="test-width">
    <div class="hit-the-floor"><a routerLink="/offer" [text]="'MainInfo.HelloText' | translate" style="color: #fff; text-decoration: none;"></a></div>
    <div class="hit-the-floor" style="font-size: 1em;">
        <a routerLink="/offer" [text]="'MainInfo.LinkToOffer' | translate"></a>
    </div>

    <img src="assets/images/welcome-page.jpg" class="test-width"/>
</div>
