<svg-icon src="/assets/icons/add-file.svg"></svg-icon>

<ng-container *ngIf="id">
    <a [href]="fileUrl(id)" class="cut-text" [title]="name ? name : (fileObj$ | async)?.name">{{name ? name : (fileObj$ | async)?.name}}</a>
</ng-container>

<ng-container *ngIf="name && url && !id">
    <a [href]="url" class="cut-text" [title]="name">{{name}}</a>
</ng-container>
